html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bd1efc;   
    font-size: 1.6rem;
    /*Desabilita seleção de elementos*/
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    padding: 4rem 6rem;
}


h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* Área do jogo - renderizado de forma dinâmica */
.game {
    width: 43rem;
    height: 43rem;
    display: flex;
    /* Quando o elemento não couber mais na linha, manda p/ a linha seguinte*/
    flex-wrap: wrap;
    gap: 1rem;

    /* Para animações - virada das cartas */
    transform-style: preserve-3d;
    perspective: 50rem;
}

/* Cartas que serão criados dinamicamente */
.item {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: .25s;
}

/* pseudo-elemento para fazer a função do verso da carta */
.item::after {
    content: "";
    background-image: url("../images/bg-card.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    /* sobrepõe o item */
    background-color: #404040;
    transition: .25s;
    transform: rotateY(0deg);
    /*Apenas sobrepõe o verso*/
    backface-visibility: hidden;
    /* opacity: .8; */
}

/* Virada da carta - tem que ter as duas classes */
.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after  {
    transform: rotateY(180deg);
}


.reset {
    padding: 1.5rem 2rem;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    background-color: #262809;
    color: #ec38bc;
}